### 학습목표

#### 1. 수치해석 라이브러리인 numpy의 이해 및 사용
#### 2. 데이터 분석 라이브러리인 pandas의 이해 및 사용

#### DataFrame 생성하기
+ 일반적으로 분석을 위한 데이터는 다른 데이터 소스(database, 외부 파일)을 통해 dataframe을 생성
+ 여기서는 실습을 통해, dummy 데이터를 생성하는 방법을 다룰 예정

In [1]:
import pandas as pd

#### dictionary로 부터 생성하기
+ dict의 key -> column

In [2]:
data = {'a' : 100, 'b' : 200, 'c' : 300}
pd.DataFrame(data, index=['x', 'y', 'z'])

     a    b    c
x  100  200  300
y  100  200  300
z  100  200  300

In [3]:
data = {'a' : [1, 2, 3], 'b' : [4, 5, 6], 'c' : [10, 11, 12]}
pd.DataFrame(data, index=[0, 1, 2])

   a  b   c
0  1  4  10
1  2  5  11
2  3  6  12